/* font-family: 'Baloo Tamma 2', cursive;
font-family: 'Red Rose', cursive; */

*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Tamma 2', cursive;

}
.innerImg    {
    width: 100%;
    height: 85vh;
}

/* NAVBAR */

.navbar-brand{
    font-size: 2.5rem !important;
    font-family: 'Red Rose', cursive;

}
.navbar a{color: #fff;}

.dropdown-item{
    font-size: 1.3rem;
    color: #000 !important;
}

.navbar{
    background-color: #6a2c70;
    padding: 1%;
    color: #fff;
}


.dropdown:hover>.dropdown-menu{
    display:block;
}

/* WHAT WE CAN DO */
.card{margin-bottom: 1.5rem !important;}

.btn{background-color:#6a2c70 ;}


a.btn{color: #fff !important;}

.dots:before{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    text-align: center  ;
    padding: 5% 0;
    font-family: 'typicons';
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: .1875rem;
    color: #6a2c70;
    content: '\2B9E\2B9E\2B9E\2663\2B9C\2B9C\2B9C';
}

.circle{
    height: 100px;
    width: 100px;
    border-radius: 3rem;
    background-color: #6a2c70;
    color: #fff;
    margin: 0 auto;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    font-family: 'Lemonada', cursive;
    font-size: 1.8rem;

}


.card1,.card2,.card3,.card4,.card5,.card6,.abtImg,.abtImg1,.abtImg2,.abtMat1,.abtMat2 {
    opacity: 0;
}

.card1.animated,.card2.animated,.card3.animated,.card4.animated,.card5.animated,.card6.animated,.abtImg.animated,.abtImg1.animated,.abtImg2.animated,.abtMat1.animated,.abtMat2.animated{    
    opacity: 1;
}



/* CURSOR */
.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
  }

  .cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 17px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
  }

  @keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
  }

  @keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
  }

  @keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
  }


